# hwrotation prop need a own type to be set on init.degas.variants.sh,
# else it would conflict with a neverallow rule
type rotation_prop, property_type;
